﻿<div class="container-fluid">
    <div class="row-fluid" >

        <div class="span12" data-ng-controller="cart as vm" ng-init="vm.checkout = true">
             <div data-ng-include="'app/order/cart.html'"></div>
        </div>

		<h4>Checkout as... </h4>
		<ul class="nav nav-tabs" ng-init="tab = 1">
			<li ng-class="tab === 1?' in active':''"><a data-toggle="tab" ng-click="tab = 1">Returning Customer</a></li>
			<li ng-class="tab === 2?' in active':''"><a data-toggle="tab" ng-click="tab = 2">New Customer</a></li>
		</ul>

		<div class="tab-content" data-ng-controller="checkout as vm">
			<div id="existing" class="tab-pane" ng-class="tab === 1?' in active':''">
				<h4 style="display:inline;margin-right:50px;">Checkout as {{vm.selectedCustomer != '' && vm.selectedCustomer != null ? vm.selectedCustomer.firstName+" "+vm.selectedCustomer.lastName : 'returning customer...' }}</h4>
				<button class="btn btn-warning" ng-click="vm.placeOrder('existing')" ng-show="vm.selectedCustomer != '' && vm.selectedCustomer != null" style="margin-bottom:15px;">
					<i class="icon-play icon-white"></i>
					Place Order Now!
				</button>				
				<table class="table">
					<tbody>
						<tr>
							<td>
								<span>Select your full name</span>
							</td>
							<td>
								<select ng-model="vm.selectedCustomer" ng-change="vm.selectCustomer()" ng-options="customer.fullName for customer in vm.customers"></select>
							</td>
						</tr>
					</tbody>
					<tbody class="table" ng-show="vm.selectedCustomer != '' && vm.selectedCustomer != null">
							<tr>
								<td>
									<span>Phone</span>
								</td>
								<td>
									<input ng-model="vm.selectedCustomer.phone" type="tel" disabled>
								</td>
							</tr>
							<tr>
								<td>
									<span>Email</span>
								</td>
								<td>
									<input ng-model="vm.selectedCustomer.email" type="email" disabled>
								</td>
							</tr>
							<tr>
								<td>
									<span>Address</span>
								</td>
								<td>
									<input ng-model="vm.selectedCustomer.address.street" type="text" disabled><br>
									<input ng-model="vm.selectedCustomer.address.city" type="text" disabled><br>
									<input ng-model="vm.selectedCustomer.address.state" type="text" disabled><br>
									<input ng-model="vm.selectedCustomer.address.zip" type="text" disabled><br>
								</td>
							</tr>
					</tbody>
				</table>
			</div>
			<div id="newcustomer" class="tab-pane fade" ng-class="tab === 2?' in active':''">
				<h4 style="display:inline;margin-right:50px;">Checkout as a new customer...</h4>
				<button class="btn btn-warning" ng-click="vm.placeOrder('new')" style="margin-bottom:15px;">
					<i class="icon-play icon-white"></i>
					Place Order Now!
				</button>
				<table class="table">
					<tr>
						<td>
							<span>First Name</span>
						</td>
						<td>
							<input ng-model="vm.newCustomer.firstName" type="text" placeholder="John">
						</td>
					</tr>
					<tr>
						<td>
							<span>Last Name</span>
						</td>
						<td>
							<input ng-model="vm.newCustomer.lastName" type="text" placeholder="Doe">
						</td>
					</tr>
					<tr>
						<td>
							<span>Phone</span>
						</td>
						<td>
							<input ng-model="vm.newCustomer.phone" type="tel" placeholder="(126) 144-1855" >
						</td>
					</tr>
					<tr>
						<td>
							<span>Email</span>
						</td>
						<td>
							<input ng-model="vm.newCustomer.email" type="email" placeholder="customer@email.com">
						</td>
					</tr>
					<tr>
						<td>
							<span>Address</span>
						</td>
						<td>
							<input ng-model="vm.newCustomer.address.street" type="text" placeholder="Street"><br>
							<input ng-model="vm.newCustomer.address.city" type="text" placeholder="City"><br>
							<input ng-model="vm.newCustomer.address.state" type="text" placeholder="State"><br>
							<input ng-model="vm.newCustomer.address.zip" type="text" pattern="[0-9]{4}" placeholder="Zip"><br>
						</td>
					</tr>					
				</table>
			</div>
		</div>			
    </div>
</div>